main {
    padding: 40px 24px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

article {
    width: 100%;
    height: auto;
    background-color: var(--dark-20);
    border: 2px solid var(--dark-40);
    border-radius: 8px;
    padding: 32px 24px;
}

article:hover {
    border-color: var(--brand-color);
}

.article-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    margin-bottom: 16px;
}

.article-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.article-info time {
    font-family: 'Inter', sans-serif;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.21rem;
    color: var(--brand-color);
}

#icon {
    fill: var(--dark-20);
    stroke: var(--brand-color);
    stroke-width: 7;
    transition: fill 0.3s;
    cursor: pointer;
}

#icon.filled,
#icon:hover {
    fill: var(--brand-color);
}

.article-title {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.276rem;
}

.article-paragraph {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    color: var(--gray);
    line-height: 1.6rem;
}

@media (min-width: 768px) {
    main {
        padding: 56px 32px;
    }

    article {
        padding: 40px;
    }

    .article-header {
        gap: 24px;
    }

    .article-info time {
        font-size: 0.875rem;
    }

    .article-paragraph {
        font-size: 1rem;
    }

}

@media (min-width: 1920px) {
    main {
        padding: 88px 352px;
    }

    .article-info time {
        font-size: 1rem;
        line-height: 0.826rem;
    }

    .article-title {
        font-size: 1.5rem;
        line-height: 1.276rem;
    }

    .article-paragraph {
        font-size: 1.25rem;
    }

}